.galeria{
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
}
div.gallery {
    border: 1px solid #fff;
    background: #232323;
}
div.gallery img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2) , 0 6px 20px 0 rgba(0,0,0,.19);
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
} 
.contenedor{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10%;
}
.main{
    background-color: rgba(0,0,0,.9);
    max-width: 1024px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding: 3%;
    border-radius: 0 0 10px 10px;
    margin: 0px 15px 15px 15px;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2) , 0 6px 20px 0 rgba(0,0,0,.19);
    
}
.titulo h2,h4,h5{
    color: #fff;
    letter-spacing: 1.5px;
    font-family: 'Dosis' , sans-serif;
}
.main h5{
    margin: 10px 0 10px 0;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 10px 5px;
    border-bottom:  1px solid #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.main h4{
    margin-bottom: 50px;
    color: #fff;
    font-size: 23px;
    width: 100%;
    padding: 10px;
    border-left: 4px solid rgba(227,0,0,1);
}
div.banner-servicioC{
    background-image: url("../img/Obra-Civil/Obra-Civil.jpg");
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
}
* {
    box-sizing: border-box;
}

.responsive {
    margin: 5px;
    float: left;
    width: 20%;
    flex-grow: 1;

}
@media screen and (min-width: 300px){
        div.banner-servicioC{
        padding-top: 10%;
        background-size: 100% auto;
        background-repeat: no-repeat;

    }
    .main{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .main h5{
        flex-wrap: nowrap;
    }
    .icon-codeigniter, .icon-codeschool{
        font-size: 40px;
    }

}
@media screen and (min-width: 784px){
        div.banner-servicioC{
        padding-top: 12%;
    }
}
@media only screen and (max-width: 999px){

    .contenedor{
        padding-left: 5%;
        padding-right: 5%;
    }

}

@media only screen and (max-width: 700px){
    .main h4{
        background-color: rgba(0,0,0,.5);
    }
    .main{
        width: 100%;
    }
    .responsive {
        width: 100%;
        margin: 6px 0;
    }

}


@media only screen and (max-width: 500px){
    .titulo{
        background-position: right;
    }
    .main{
        width: 100%;
    }
    .responsive {
        width: 100%;
    }


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}